$colors: (
  "main-purple": #800080,
  "main-gold": #daa520,
  "main-silver": #c0c0c0,
  "main-black": #000000,
);

$baseHomeIntroNameAnimationDelay: 50ms;
$aboutHomeLogosCount: 4;
$baseAboutHomeLogoAnimationDelay: 35ms;
